profiles {
  local {
    params.run_type='local'
    docker.enabled = true
    includeConfig 'configs/local.config'
  }
  r2d2 {
    params.run_type='r2d2'
    params.image_folder='/beegfs/common/singularity/'
    params.queue='hooli'
    singularity.enabled = true
    includeConfig 'configs/slurm.config'
  }
}