params.project_folder='/Users/jboucas/nf-kallisto-deseq2-test/'
params.kallisto_raw_data='/Users/jboucas/Desktop/test_ftp/'
params.genomes='/Users/jboucas/Desktop/genomes/'
params.organism='caenorhabditis_elegans' 
// curl -#l ftp://ftp.ensembl.org/pub/current_fasta/
params.release='107'
params.url_gtf="ftp://ftp.ensembl.org/pub/release-${params.release}/gtf/${params.organism}/"
params.url_dna="ftp://ftp.ensembl.org/pub/release-${params.release}/fasta/${params.organism}/dna/"
params.ercc_label="ercc92"
params.url_ercc_gtf="https://datashare.mpcdf.mpg.de/s/MOxbNrXeBNcg9wt/download"
params.url_ercc_fa="https://datashare.mpcdf.mpg.de/s/H9PQu3vDRi9saqV/download"

includeConfig 'local.config'