process {
    withName:multiqc {
        executor='slurm'
        queue="${params.queue}"
        cpus=2
        memory='4GB'
        time='1h'
        container = "${params.image_folder}multiqc-1.13.sif"
        containerOptions = "${params.extra_mounts} -B ${params.project_folder}:/workdir"
    }
    beforeScript = 'module load singularity'
}

